<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="io.plaidapp.enjoeimodule">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_name_about">
        <dist:fusing dist:include="true" />
    </dist:module>


</manifest>